body{
    font-family: Roboto;
    background: -webkit-linear-gradient(to left, black, black);
    background: linear-gradient(to left, black, black);
}

#container{
    margin: 0 auto;
    width: auto;
    display:table;
    text-align: center;
}

#convert{
    margin-top: 2%;
    background-color: gold;
}

#clear{
    margin-top: 2%;
    background-color: grey;
}

#convert:hover{
    background-color: #bcc768;
}

h1{
    font-family: sans-serif;
    color: gold;
}

input{
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: gold;
    font-family: cursive, sans-serif;
}

::-webkit-input-placeholder{
    color: #ccc;
}

::-moz-placeholder{
    color: #ccc;
}

::-moz-placeholder{
    color: #ccc;
}

:-ms-input-placeholder{
    color: #ccc;
}

button{
    padding: 10px;
    font-size:1.2em;
    color:#FFFF;

}

